extends ../layout

block content
    a(href=`/authors/edit/${author.id}`) Edit Author
        a(href=`/authors/delete/${author.id}`) Delete Author
        a(href='/authors') Back to Authors
        div
            h3 #{author.first} #{author.last}
            p DOB: #{author.dob}
        div.books
            h4 Books by the Author
            if availableBooks.length>0
                form(action=`/authors/${author.id}/add/` method='post')
                    select(name='book' id='book' autocomplete=off)
                        each book in availableBooks
                            option(value=book.id) #{book.title}
                    button.button(type='submit') Add
            else
                p No remaining books are available
            h4 Authors included
            if author.books.length>0
                table
                    thead
                        tr
                            th Title
                            th Genre
                            th Page Count
                            th Publisher
                            th Image
                            th Description
                            th
                    tbody
                        each book in author.books
                            tr
                                td= book.title
                                td= book.genre
                                td= book.pages
                                td= book.publisher
                                td= book.image
                                td= book.description
                                td
                                    a(href=`/books/profile/${book.id}`) View Book
                                    a(href=`/authors/${author.id}/remove/:${book.id}`) Remove Book
            else
                p Author has not been credited with any books